.avatars {
    display: flex;
    align-items: center;
    justify-content: stretch;
    width: 10rem;

    &__avatar {
        position: relative;

        &:nth-of-type(2) {
            left: -15%;
        }

        &:nth-of-type(3) {
            left: -22%;
        }

        &:nth-of-type(4) {
            left: -29%;
        }

        &:nth-of-type(5) {
            left: -36%;
        }

        &:not(&:first-of-type) {
            transform: translateX(50%);
        }
    }
}