@import "../../../variables";

.footer {
    display: grid;
    grid-template-columns: 3rem 10rem 1rem 59rem 2rem;
    grid-template-rows: 1rem auto 1rem;
    background: rgba(51, 55, 59, 0.37);
    backdrop-filter: blur(5px);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    &__details {
        grid-row: 2/3;
        grid-column: 2/3;
    }

    &__controls {
        grid-row: 2/3;
        grid-column: 4/5;
    }
}