@import "../../../variables";

.header {
    display: grid;
    place-items: center;
    grid-template-columns: 3rem 2rem auto;

    &__logo {
        grid-column: 1/2;
    }

    &__input {
        grid-column: 3/4;
        place-self: start;
    }
}